@font-face {
  font-family: turtle;
  src: url(./Turtles.otf);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: antiquewhite;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.turtles {
  width: 16rem;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 6rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  color: red
}


h4, h2 {
  margin: .5rem;
}

.pizzas {
  display: flex;
  flex-direction: row;
  width: 20rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pizzas h2 {
  margin: .5rem;
}

.size {
  display: flex;
  flex-direction: row;
  width: 30rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.crust {
  display: flex;
  flex-direction: row;
  width: 30rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.option-group {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-around;
  width: 30rem;
}

.option-group :hover {
  cursor: pointer;
  /* border: solid; */
  color: red;
}

.selected {
  color: red;
}

body {
  font-family: Turtle;
  font-size: 1rem;
  background-color: green;
}

h1, h2, h3, h4, h5, h6 {
  font-family: turtle;
  font-weight: 300;
  color: #424242;
  margin: 0 0 10px;
  font-weight: 600;
  color: black;
  font-weight: 200;
}

button {
  color: black;
  /* background-color: green; */
  font-family: turtle;
  margin: .5rem;
  font-weight: 10;
  background-color: green;
  color: black;
  border: none;
}

button:hover {
  color: black;
}

.sign-in-form input {
  margin: .5rem;
  border-color: black;
}

.sign-in-form button {
  width: 66%;
  margin-left: 18%;
  margin-right: 18%;

}


/* button {
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: green;
  border: none;
  border-radius: 5rem;
}

button:hover {
  cursor: pointer;
  background-color: lightgreen;
} */